<div class="header-none">
</div>

<div class="content">
<%= form_tag :session, :class => "pure-form pure-form-stacked" do%>
<fieldset>
  <legend>ログイン</legend>
  <label for="login_id">LoginId</label>
  <input id="login_id" name="login_id" type="text" placeholder="loginId"/>
  <label for="password">Password</label>
  <input name="password" type="password" id="pass_form" placeholder="Password" />
  <button type="submit" class="pure-button pure-button-success" id="regist-button">ログインする</button>
</fieldset>
<% end %>

</div>

