// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-user-table {
  tbody td.name {
    vertical-align: middle;
  }
  tbody td.color {
    vertical-align: middle;
    select, 
    select option {
      font-size: 1em;
    }
  }
  tbody td.permission {
    vertical-align: middle;
  }
}

