body {
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #777;
}


#layout,
#menu,
.alert,
#dashboard-sub-continer,
#dashboard-layout,
.dashboard-menu-link,
.pure-menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}



/* --------------------------
 * Element Styles
 * --------------------------
*/


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: rgb(75, 75, 75);
}

a {
  color: #3b8bba; /* block-background-text-normal */
  text-decoration: none;
}

a:visited {
  color: #265778; /* block-normal-text-normal */
}

a.pure-button:visited {
  color: #fff; 
}

dt {
  font-weight: bold;
}
dd {
  margin: 0 0 10px 0;
}

/* --------------------------
 * Layout Styles
 * --------------------------
*/

#layout {
  padding-left: 150px; /* left col width "#menu" */
  left: 0;
}

#main {
  width: 100%;
}

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
  padding: 1.3em;
}

.l-vbox {
  padding: 1.3em 0;
}

.l-hbox {
  padding: 0 1.3em;
}

.l-centered {
  text-align: center;
}



/* --------------------------
 * Header Module Styles
 * --------------------------
*/
.header {
  min-height: 80px;
  margin: 0;
  color: #333;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #fff;
  h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
  }
  h2 {
    font-weight: 300;
    margin: 0;
    color: #ccc;
  }
}
.header-none {
  min-height: 40px;
  margin: 0;
  border: 0px solid #fff;
}

aside {
    background: #cce1ef; /* normal color palette when primary color palette is at #1f8dd6 */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #163246; /* block-normal-text-high */
}
    .aside a, .aside a:visited {
        color: #1f8dd6;
    }

 /* --------------------------
  * Content Module Styles
  * --------------------------
 */

/* The content div is placed as a wrapper around all the docs */
.content {
  margin: 0 auto;
  width: 90%;
  margin-bottom:50px;
  p {
    line-height: 1.6em;
    font-size: 115%;
  }

  .content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
  }

  .content-spaced {
    line-height: 1.8em;
  }

}
.content-fixed {
  max-width: 960px;
}


/* --------------------------
 * Main Navigation Bar Styles
 * --------------------------
*/



#menu {
  margin-left: -150px;
  width: 150px;
  position: fixed;
  top: 0;
  left: 150px;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scroll: touch;

  a {
    color: #999;
    border: none;
    white-space: normal;
    padding: 0.6em 0 0.6em 0.6em;
  }

  .pure-menu-open {
    background: transparent;
    border: 0;
  }
  .pure-menu {
    ul {
      border: none;
      background: transparent;
    }
    ul,
    .menu-item-divided {
      border-top: 1px solid #333;
    }
    li {
      a:hover,
      a:focus {
        background: #333;
      }
    }
  }
  .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    &:hover,
    &:focus {
      color: #999;
    }
  }
  .pure-menu-selected {
    background: #1f8dd6;
    a {
      color: #fff;
    }
  }
  li.pure-menu-selected {
    a:hover {
      background: none;
    }
  }
}

.dashboard-menu-link,
.pure-menu-link {
  display: none; /* show this only on small screens */
  top: 0;
  z-index: 1000;
  background: #000;
  background: rgba(0,0,0,0.7);
  padding: 0.75em 1em;

  &:hover {
    background: #000;
  }
}

.pure-menu-link {
  left: 150px; /* "#menu width" */
}

.dashboard-menu-link {
  right: 301px; /* "#menu width" */
}


#dashboard-layout {
  position: relative;
}

.dashboard {
  min-height: 100%;
  .subhead {
    font-weight: 300;
    color: #888;
  }
}

#dashboard-main-continer {
  float: left;
  width: 100%;
}

.dashboard-main {
  padding-right: 301px;
  position: relative;
  
  .main-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;

    .icon {
      position: absolute;
      top: 1em;
      left: 1.5em;
      width: 64px;
      height: 64px;
      letter-spacing: normal;
      border: 1px solid #ddd;
    }
    .text-continer {
      float: left;
      width: 100%;
      .text {
        margin-left: 100px;
        word-wrap: break-word;
        letter-spacing: normal;
      }
    }
  }
}

#dashboard-sub-continer {
  position: fixed;
  border-left: 1px solid #ddd;
  width: 300px;
  top: 0;
  bottom: 0;
  right: 301px;
  background-color: #fff;
  z-index: 1000;
  margin-right: -301px;
}

.dashboard-sub {
  display: block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-readering: auto;
  width: 300px;
  float: right;
  
  .sub-item {
    border-bottom: 1px solid #ddd;
    a,p {
      padding: 0.6em 0 0.6em 0.6em;
      margin: 0;
      display: block;
    }
    a:visited {
      color: #3b8bba;
    }
  }
}


@media (max-width: 870px) {

    /* Navigation Push Styles */
    #layout {
        position: relative;
        padding-left: 0;
    }
        #layout.active {
            position: relative;
            left: 150px;
        }
            #layout.active #menu {
                left: 150px;
                width: 150px;
            }

    #menu {
        left: 0;
    }

    .pure-menu-link {
        position: fixed;
        left: 0;
        display: block;
    }

    #layout.active .pure-menu-link {
        left: 150px;
    }

    .dashboard-menu-link {
        position: fixed;
        right: 0;
        display: block;
    }

    #dashboard-layout.active .dashboard-menu-link {
        right: 301px;
    }

    #dashboard-layout {
        position: relative;
    }
        #dashboard-layout.active {
            position: relative;
            right: 301px;
        }
            #dashboard-layout.active #dashboard-sub-continer {
                right: 301px;
            }

    #dashboard-sub-continer {
        right: 0;
    }

    .dashboard-main {
      padding-right: 0;
    }

}

@media (max-width: 767px) {

    .content {
        width: 95%;
        font-size: 90%;
    }

    /* normalize paddings on small screens*/
    .l-hbox {
        padding: 1.3em;
    }
}


.content .pure-menu.pure-menu-open {
  width: 40%;
  margin-top: 2em;
}
.content .pure-menu.pure-menu-horizontal {
  width: 100%;
}


.pure-g-r {
  letter-spacing: -0.41em;
}

.thumb-frame {
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px 0 #bbb;
  -webkit-box-shadow: 1px 1px 5px 0 #bbb;
  -moz-box-shadow: 1px 1px 5px 0 #bbb;
}

.clearfix:after {
  clear: both;
}


.pure-button:link {
  color: white;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(76, 201, 71); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: orange;
}

.pure-button-secondary {
    background: rgb(95, 198, 218); /* this is a light blue */
}


#update-entry-button,
#search-button-in-newentry,
#regist-button {
  margin-top: 10px;
}


.alert-box {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

#pass_form {
  display: block;
}


.entries-content {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  .content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
  }
}

.entries-table {
  font-size: 0.8em;
  width: 100%;
  tbody tr td {
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  tbody tr td.extend {
    border-top: 0px solid #ddd;
  }
  tbody tr td.attend-at {
    width: 10px;
  }
  tbody tr td.place {
    width: 60px;
  }
  tbody tr td.entry-circle-author {
  }
  tbody tr td.executor {
    width: 40px;
  }
  tbody tr td.quantity {
    width: 40px;
  }
  tbody tr td.price {
    width: 40px;
  }
  tbody tr td.updated-at {
    width: 130px;
  }
}


.entries-selected {
  background-color: #fdd;
}


td.entries-name-selected {
  background-color: #ddf;
}


.entry-show-table {
  width: 100%;
  tbody tr {
    vertical-align: top;
    th {
      text-align: left;
      background-color: #e0e0e0;
      color: #000;
      width: 150px;
      border-top: 1px solid #ddd;
      white-space: nowrap;
    }
    td {
      border-top: 1px solid #ddd;
    }
    td.circle-url-master {
      background-color: #ddf;
    }
    td.handout-name {
    }
    td.handout-price {
      width: 80px;
      input {
        width: 80px;
      }
    }
    td.order-name {
      width: 100px;
      white-space: nowrap;
      a{
        padding: .3em 1.0em;
      }
    }
    td.order-count {
      vertical-align: middle;
      width: 50px;
      white-space: nowrap;
      input {
        width: 40px;
      }
    }
    td.circle-url-checkbox {
      width: 150px;
      white-space: nowrap;
      vertical-align: middle;
    }
    td.circle-url-textform {
      vertical-align: middle;
    }
  }
}
.sub-place-input {
  width: 40px;
}


.entry-new-button,
.entry-edit-button {
  margin-bottom: 10px;
}

.entries-index-menu ul {
  float: left;
}

.entry-new-button {
  float: right;
}

.header-entries {
  margin-top: 30px;
  border: 0px solid #fff;
}

.entries-index-menu li a {
  padding: 5px 10px;
}

.entries-index-menu li.pure-menu-selected a {
  color: #e55;
  background-color: #ddd;
}
.entries-index-menu li.pure-menu-selected a:hover {
  background-color: #ddd;
}

.url-destroy-button {
  padding: .25em .75em;
  margin-left: -5px;
}


.entries-searchbox {
  float: right;
  width: 400px;
  .search_inputbox {
    width: 300px;
  }
}





