<div class="header-none">
</div>

<div class="entries-content">
  <table class="pure-table entries-table">
    <thead>
    <tr>
      <th>ユーザー</th>
      <th>権限</th>
    </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
    <tr>
      <% next if user.id == @current_user.id %>
      <td><%= user.name %> (<%= user.login_id %>)</td>
      <td><%= user.administrator ? "管理者" : "一般ユーザー" %></td>
    </tr>
      <% end %>
    </tbody>
 
  </table>
</div>
